<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.css" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js" crossorigin="anonymous"></script>
    <title> Home Page </title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

    <center>
        <img id="onbironImg" src="https://media.licdn.com/media/p/7/000/2cf/311/16b9794.png" class="img-responsive" style="width:288px;height:75px;">
    </center>
    <h1 id="homeTitle">DEMO Home Page<small> v1.0</small></h1>

    <nav class="navbar navbar-inverse bg-inverse" style="background-color: #eea642;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://www.onbiron.com.tr/">Onbiron</a>
            </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:3000/">Home</a></li>
            <li><a href="http://localhost:3000/rules">Rules JSON</a></li>
        </ul>
        </div>
    </nav>


    <section class="col-md-3">
	    <section class="col-md-12" style="background-color:#d6d3c4;">
            <center>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default" id="convertInsert">INSERT</button>
                    <button type="button" class="btn btn-default" id="convertUpdate">UPDATE</button>
                    <button type="button" class="btn btn-default" id="convertDelete">DELETE</button>
                </div>
            </center>
            <center><h3 id="panelHeading">INSERT RULE</h3></center>
            <form action="/insert" method="post" id="mainForm">
                <div class="input">
                    <label for="id" id="mongoText">MongoDB ID:</label>
                    <input type="text" class="form-control" id="mongoId" name="id" disabled>
                </div>
                <button type="button" class="btn btn-primary" id="fillFormButton" disabled>Fill Form</button>
                <button type="submit" class="btn btn-danger" id="deleteButton" disabled>DELETE</button>

                <div class="input">
                    <label>Status:</label>
                    <input type="radio" name="status" value="ACTIVE" id="activeRadio">ACTIVE<br>
                    <input type="radio" name="status" value="PENDING" id="pendingRadio"> PENDING<br>
                    <input type="radio" name="status" value="STOPPED" id="stoppedRadio"> STOPPED
                </div>
                <div class="input">
                    <fieldset>
                        <label for="description">Description:</label>
                        <input type="text" class="form-control" id="description" name="description">
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="startTime">Start Time:</label>
                        <input type="text" class="form-control" id="startTime" name="startTime">
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="scheduledTime">Scheduled Time:</label>
                        <input type="text" class="form-control" id="scheduledTime" name="scheduledTime">
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="scheduleInterval">Schedule Interval:</label>
                        <input type="text" class="form-control" id="scheduleInterval" name="scheduleInterval">
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="executionTimes">Execution Times:</label>
                        <input type="text" class="form-control" id="executionTimes" name="executionTimes">
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="requestTypes">Request Types:</label>
                        <input type="radio" name="requestTypes" value="ADD" id="addRadio"> ADD<br>
                        <input type="radio" name="requestTypes" value="REMOVE" id="removeRadio"> REMOVE<br>
                        <input type="radio" name="requestTypes" value="EDIT" id="editRadio"> EDIT<br>
                        <input type="radio" name="requestTypes" value="EXECUTE" id="executeRadio"> EXECUTE
                    </fieldset>
                </div>
                <br>
                <div class="input">
                    <fieldset>
                        <label for="action">Action:</label>
                        <input type="text" class="form-control" id="action" name="action">
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="parentAppId">Parent App Id:</label>
                        <input type="text" class="form-control" id="parentAppId" name="parentAppId">
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="ruleStatus">Rule Status:</label>
                        <input type="text" class="form-control" id="ruleStatus" name="ruleStatus">
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="endTime">End Time:</label>
                        <input type="text" class="form-control" id="endTime" name="endTime">
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="type">Type:</label>
                        <input type="radio" name="type" value="TRIGGERED" id="triggeredRadio">TRIGGERED<br>
                        <input type="radio" name="type" value="MANUEL" id="manuelRadio"> MANUEL<br>
                        <input type="radio" name="type" value="SCHEDULED" id="scheduledRadio"> SCHEDULED
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="deviceId">Device ID:</label>
                        <input type="text" class="form-control" id="deviceId" name="deviceId">
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="condition">Condition:</label>
                        <input type="text" class="form-control" id="condition" name="condition">
                    </fieldset>
                </div>
                <div class="input">
                    <fieldset>
                        <label for="name">Name:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </fieldset>
                </div>
                <center><button id="insertButton" type="submit" class="btn btn-info btn-lg">INSERT</button></center>
            </form>
        </section>
    </section>



    <section class="col-md-8">
        <center><h3>GET DATA</h3></center>
            <form action="/get" method="post">
                <label for="statusCon">Status:</label>
                <div class="statusSelectionForm">
                    <select class="btn btn-default dropdown-toggle" id="selectionStatus" name="statusCondition">
                        <option value="all">ALL</option>
                        <option value="active">ACTIVE</option>
                        <option value="pending">PENDING</option>
                        <option value="stopped">STOPPED</option>
                    </select>
                </div>
                <br>
                <button id="loadButton" type="submit" class="btn btn-info btn-lg" value="LOAD DATA">LOAD DATA</button>
            </form>
            <div>
                {{# each items }}
                    <article class="item">
                        <div>Status: {{ this.status }}</div>
                        <div>Description: {{ this.description }}</div>
                        <div>startTime: {{ this.startTime }}</div>
                        <div>scheduledTime: {{ this.scheduledTime }}</div>
                        <div>scheduleInterval: {{ this.scheduleInterval }}</div>
                        <div>executionTimes: {{ this.executionTimes }}</div>
                        <div>requestTypes: {{ this.requestTypes }}</div>
                        <div>action: {{ this.action }}</div>
                        <div>parentAppId: {{ this.parentAppId }}</div>
                        <div>ruleStatus: {{ this.ruleStatus }}</div>
                        <div>endTime: {{ this.endTime }}</div>
                        <div>type: {{ this.type }}</div>
                        <div>deviceID: {{ this.deviceId }}</div>
                        <div>condition: {{ this.condition }}</div>
                        <div>name: {{ this.name }}</div>
                        <div><b>MongoDB_ID: {{ this._id }}</b></div>
                    </article>
                {{/each}}
            </div>
    </section>

</body>
</html>
