<!DOCTYPE html>
<html>
<head>
    <title> Home Page </title>
    <style>
    	body {
    		padding: 50px;
    		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    		}
    	a {
    	  color: #00B7FF;
    	}
    	section {
    	  float: left;
    	  background: #bdc3c7;
    	  padding: 10px;
    	  margin: 30px;
    	  width: 300px;
    	  box-shadow: 5px 5px 3px #34495e;
    	  min-height: 100px;
    	}
    	section:first-of-type {
    	  margin-left: 0;
    	}
    	section:last-of-type {
    	  margin-right: 0;
    	}
    	section h3 {
    	  border-bottom: 1px solid black;
    	  padding-bottom: 5px;
    	}
    	.insert {
    	  background: #cecece;
    	}
    	.get {
    	  background: #cecece;
    	}
    	.update {
    	  background: #cecece;
    	}
    	.delete {
    	  background: #cecece;
    	}
    	.input label {
    	  display: block;
    	  font-weight: bold;
    	  padding: 2px 0;
    	}
    	input,
    	button {
    	  font: inherit;
    	}
    	button {
    	  margin-top: 10px;
    	  border: none;
    	  box-shadow: 1px 1px 1px #34495e;
    	  border-radius: 0;
    	  background: #ecf0f1;
    	  cursor: pointer;
    	}
    	button:hover {
    	  background: #bdc3c7;
    	}
    	.item {
    	  margin: 10px 0;
    	  padding: 5px;
    	  background: #a0a0a0;
    	  border: 1px solid black;
    	}
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script>
        $(document).ready(function()
        {
        });
    </script>
</head>
<body>
    <center>
        <img id="onbironImg" src="https://media.licdn.com/media/p/7/000/2cf/311/16b9794.png" style="width:216px;height:56px;">
    	<h1>DEMO Home Page</h1>
	</center>
	<section class="insert">
        <center><h3>INSERT DATA</h3></center>
        <form action="/insert" method="post">
            <div class="input">
                <label for="status">Status:</label>
                <input type="text" id="status" name="status">
            </div>
            <div class="input">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description">
            </div>
            <div class="input">
                <label for="startTime">Start Time:</label>
                <input type="text" id="startTime" name="startTime">
            </div>
            <div class="input">
                <label for="scheduledTime">Scheduled Time:</label>
                <input type="text" id="scheduledTime" name="scheduledTime">
            </div>
            <div class="input">
                <label for="scheduleInterval">Schedule Interval:</label>
                <input type="text" id="scheduleInterval" name="scheduleInterval">
            </div>
            <div class="input">
                <label for="executionTimes">Execution Times:</label>
                <input type="text" id="executionTimes" name="executionTimes">
            </div>
            <div class="input">
                <label for="requestTypes">Request Types:</label>
                <input type="text" id="requestTypes" name="requestTypes">
            </div>
            <div class="input">
                <label for="action">Action:</label>
                <input type="text" id="action" name="action">
            </div>
            <div class="input">
                <label for="parentAppId">Parent App Id:</label>
                <input type="text" id="parentAppId" name="parentAppId">
            </div>
            <div class="input">
                <label for="ruleStatus">Rule Status:</label>
                <input type="text" id="ruleStatus" name="ruleStatus">
            </div>
            <div class="input">
                <label for="endTime">End Time:</label>
                <input type="text" id="endTime" name="endTime">
            </div>
            <div class="input">
                <label for="type">Type:</label>
                <input type="text" id="type" name="type">
            </div>
            <div class="input">
                <label for="deviceID">Device ID:</label>
                <input type="text" id="deviceID" name="deviceID">
            </div>
            <div class="input">
                <label for="condition">Condition:</label>
                <input type="text" id="condition" name="condition">
            </div>
            <div class="input">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <button type="submit">INSERT</button>
        </form>
    </section>
    <section class="get">
        <center><h3>GET DATA</h3>
            <form action="/get">
                <button type="submit" value="LOAD DATA">LOAD DATA</button>
            </form>
        </center>
            <div>
                {{# each items }}
                    <article class="item">
                        <div>Status: {{ this.status }}</div>
                        <div>Description: {{ this.description }}</div>
                        <div>startTime: {{ this.startTime }}</div>
                        <div>scheduledTime: {{ this.scheduledTime }}</div>
                        <div>scheduleInterval: {{ this.scheduleInterval }}</div>
                        <div>executionTimes: {{ this.executionTimes }}</div>
                        <div>requestTypes: {{ this.requestTypes }}</div>
                        <div>action: {{ this.action }}</div>
                        <div>parentAppId: {{ this.parentAppId }}</div>
                        <div>ruleStatus: {{ this.ruleStatus }}</div>
                        <div>endTime: {{ this.endTime }}</div>
                        <div>type: {{ this.type }}</div>
                        <div>deviceID: {{ this.deviceID }}</div>
                        <div>condition: {{ this.condition }}</div>
                        <div>name: {{ this.name }}</div>
                        <div>MongoDB_ID: {{ this._id }}</div>
                    </article>
                {{/each}}
            </div>
    </section>
    <section class="update">
        <center><h3>UPDATE DATA</h3></center>
        <form action="/update" method="post">
            <div class="input">
                <label for="id">MongoDB ID:</label>
                <input type="text" id="mongoId" name="mongoId">
            </div>
            <div class="input">
                <label for="status">Status:</label>
                <input type="text" id="status" name="status">
            </div>
            <div class="input">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description">
            </div>
            <div class="input">
                <label for="startTime">Start Time:</label>
                <input type="text" id="startTime" name="startTime">
            </div>
            <div class="input">
                <label for="scheduledTime">Scheduled Time:</label>
                <input type="text" id="scheduledTime" name="scheduledTime">
            </div>
            <div class="input">
                <label for="scheduleInterval">Schedule Interval:</label>
                <input type="text" id="scheduleInterval" name="scheduleInterval">
            </div>
            <div class="input">
                <label for="executionTimes">Execution Times:</label>
                <input type="text" id="executionTimes" name="executionTimes">
            </div>
            <div class="input">
                <label for="requestTypes">Request Types:</label>
                <input type="text" id="requestTypes" name="requestTypes">
            </div>
            <div class="input">
                <label for="action">Action:</label>
                <input type="text" id="action" name="action">
            </div>
            <div class="input">
                <label for="parentAppId">Parent App ID:</label>
                <input type="text" id="parentAppId" name="parentAppId">
            </div>
            <div class="input">
                <label for="ruleStatus">Rule Status:</label>
                <input type="text" id="ruleStatus" name="ruleStatus">
            </div>
            <div class="input">
                <label for="endTime">End Time:</label>
                <input type="text" id="endTime" name="endTime">
            </div>
            <div class="input">
                <label for="type">Type:</label>
                <input type="text" id="type" name="type">
            </div>
            <div class="input">
                <label for="deviceID">Device ID:</label>
                <input type="text" id="deviceID" name="deviceID">
            </div>
            <div class="input">
                <label for="condition">Condition:</label>
                <input type="text" id="condition" name="condition">
            </div>
            <div class="input">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
            </div>
            <button type="submit">UPDATE</button>
        </form>
    </section>
    <section class="delete">
        <center><h3>DELETE DATA</h3></center>
        <form action="/delete" method="post">
            <div class="input">
                <label for="id">MongoDB ID:</label>
                <input type="text" id="ruleId" name="id">
            </div>
            <button type="submit">DELETE</button>
        </form>
    </section>
</body>
</html>
